@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap");

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* smartphones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.findPros {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 20px;
  margin: 10px;
}

.title {
  text-align: center;
  padding-bottom: 40px;
  font-family: Lato;
}

.playerList {
  display: grid;
  border: 5px solid #ccc;
  border-radius: 10px;
  height: 450px;
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  background-color: red;
  box-shadow: 10px 10px 53px 1px rgba(0, 0, 0, 0.71);
}

.playerDescriptionContainer {
  padding: 20px;
}

.playerName {
  font-family: Gugi;
  font-size: 2em;
  padding: 30px;
}

.playerSport {
  padding-top: 25px;
  margin-left: 10px;
  margin: auto;
  font-size: 1.5em;
}

.playerList p {
  color: white;
  font-family: Lato;
  background-color: black;
  margin: auto;
  text-align: center;
  opacity: 0.9;
  border-radius: 10px;
}

.flipbutton {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.flipbutton:focus {
  outline: none;
}
