@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap");
li {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.findPros {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 20px;
  margin: 10px;
}

.list {
  border: 1px solid #ccc;
  list-style-type: none;
}

span.playerNames {
  display: flex;
  flex-direction: row;
  font-family: Gugi;
  font-size: 0.9em;
  color: black;
  padding-top: 35px;
  padding-right: 15px;
  padding-left: 25px;
}

.playerDescriptionContainer {
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  width: 70%;
  text-align: left;
  font-size: 0.5em;
}
