.prodWrapper {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.prodImg {
  width: 300px;
  height: 400px;
}

.orderSelect {
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
}

.prodList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 1000px;
}

.prod {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  position: relative;
  border: 1px solid transparent;
}
.prodCart {
  background-color: rgb(226, 17, 17);
  color: white;
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid border;
}

.prod:hover {
  border: 1px solid lightgray;
  cursor: pointer;
}
.prod:hover > button.prodCart {
  background-color: black;
  cursor: pointer;
  transition: 0.2s;
}
