/* Coded by Norbert M. Soto (https://github.com/nsoto92) */

@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap");

/* Products */
.prodWrapper {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.prodImg {
  width: 300px;
  height: 400px;
}

.orderSelect {
  display: flex;
  align-items: center;
  width: 1000px;
  justify-content: space-between;
}

.prodList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 1000px;
}

.prod {
  display: grid;
  justify-content: left;
  text-align: center;
  margin-top: 30px;
  position: relative;
  border: 1px solid transparent;
  color: black;
}
.prodCart {
  background-color: rgb(226, 17, 17);
  color: white;
  border-radius: 4rem;
  border: 1px solid border;
}

.prod:hover {
  border: 1px solid lightgray;
  cursor: pointer;
}
.prod:hover > button.prodCart {
  background-color: black;
  cursor: pointer;
  transition: 0.2s;
}

/* Cart */
.cartItems {
  position: fixed;
  left: 20vw;
  width: 30vw;
  top: 0;
  height: 100vh;
  margin-left: 60%;
  background: white;
  z-index: 5;
  border: 1px solid black;
}

.closeX {
  height: 50px;
  width: 50px;
  position: absolute;
  left: -50px;
  background: white;
  cursor: pointer;
}

.closed {
  display: none;
}

.cartSvg {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  cursor: pointer;
}

.buyItems {
  height: 60vh;
  overflow: scroll;
  left: 0;
}

.cartAS {
  height: 80vh;
  font-family: gugi;
  color: white;
  text-align: center;
  overflow: hidden;
}

.prodImgCart {
  width: 50px;
  height: 50px;
  align-items: left;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 10px;
}

.cartTitle {
  font-size: 10px;
  margin-top: 15px;
  margin-left: 15px;
}

.cartHead {
  display: flex;
  flex-direction: row;
  background: rgb(226, 17, 17);
  height: 86px;
  padding-top: 15px;
}

.listedProd {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  margin-top: 30px;
  position: relative;
  border: 1px solid transparent;
  color: black;
}

.prodDetails {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.prodDetails > button {
  width: 90px;
  text-align: center;
  border-radius: 0;
  margin: auto;
}

.receiptLink {
  color: black;
}

.prodDetails .augmenters {
  border-style: none;
  font-size: 15px;
}

.cartTotals {
  border-top: 1px solid black;
  padding-left: 20px;
}

/* Checkout */
.receiptSummary {
  display: flex;
  flex-direction: column;
}

.receiptContainer {
  border: 1px solid rgb(226, 17, 17);
  text-align: center;
  width: 800px;
  margin: auto;
}

.checkoutProds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  color: black;
}
